---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  blog: CollectionEntry<'blog'>
}
const props = Astro.props
---

<div class="flex">
  <a
    class="flex flex-col rounded overflow-hidden bg-gray-50 border cursor-pointer border-gray-200 shadow group"
    href={'/blogs/' + props.blog.slug}
  >
    <div
      class="relative w-full max-w-[300px] aspect-square flex items-center justify-center"
    >
      <img
        src={props.blog.data.thumbnail}
        alt={props.blog.data.title}
        class="object-cover object-center w-[100%] aspect-square relative hover:w-[105%] transition-all bg-white"
      />
    </div>
    <div class="py-4 px-4">
      <p class="font-semibold">{props.blog.data.title}</p>
      <p class="text-[10px] font-medium text-gray-400">
        {props.blog.data.date}
      </p>
      <p class="text-gray-600 text-sm mt-2">{props.blog.data.description}</p>
    </div>
  </a>
</div>
