---
import { getCollection, getEntry } from 'astro:content'
import LayoutMain from '../../layouts/LayoutMain.astro'
export const getStaticPaths = async () => {
  const blogs = await getCollection('blog')
  return blogs.map((blog) => ({
    params: {
      slug: blog.slug,
    },
  }))
}
const { slug } = Astro.params
if (!slug) {
  throw new Error('No slug provided')
}
const blog = await getEntry('blog', slug)
if (!blog) {
  throw new Error(`No blog found for slug "${slug}"`)
}
const { Content } = await blog.render()
---

<LayoutMain
  title={blog.data.title}
  description={blog.data.description}
>
  <div class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold">
      {blog.data.title}
    </h1>
    <p class="text-opacity-50 text-sm">
      Ecrit le {blog.data.date}
    </p>
    <div class="mt-8 blog-content">
      <Content />
    </div>
  </div>
</LayoutMain>
